[submodule "lua/regex/lrexlib"]
	path = lua/regex/lrexlib
	url = https://github.com/rrthomas/lrexlib
[submodule "re2"]
	path = re2
	url = https://github.com/google/re2
[submodule "SQLiteCpp/SQLiteCpp"]
	path = SQLiteCpp/SQLiteCpp
	url = https://github.com/SRombauts/SQLiteCpp
[submodule "lib_netsockets/lib_netsockets"]
	path = lib_netsockets/lib_netsockets
	url = https://github.com/pedro-vicente/lib_netsockets
[submodule "libcuckoo"]
	path = libcuckoo
	url = https://github.com/efficient/libcuckoo
[submodule "HashMap"]
	path = HashMap
	url = https://github.com/rigtorp/HashMap
[submodule "forestdb"]
	path = forestdb
	url = https://github.com/couchbase/forestdb
[submodule "lmdbxx"]
	path = lmdbxx
	url = https://github.com/drycpp/lmdbxx
[submodule "teenypath"]
	path = teenypath
	url = https://github.com/tableau/teenypath
[submodule "tinyhtml"]
	path = tinyhtml
	url = https://github.com/smallmuou/tinyhtml
[submodule "lib/simpleini"]
	path = lib/simpleini
	url = https://github.com/brofield/simpleini
[submodule "lib/inih"]
	path = lib/inih
	url = https://github.com/jtilly/inih
[submodule "tinyxml2/tinyxml2"]
	path = tinyxml2/tinyxml2
	url = https://github.com/leethomason/tinyxml2
